# build directories
*-build-*/
build/*
out/
*-release-*/

# IDE files
.idea/
.vscode
massif.out.*
octave-workspace

# code coverage
cov*.info
cmake-debug-coverage/
coverage-report/

# testing files
flower_photos/
image_processing/training/
image_classification/
